@import 'contact';
@import 'header';
@import 'projects';
@import 'coding-projects';


* {
  padding: 0;
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.main {
    padding: 5px;
}

// TAILWIND: sm
@media only screen and (min-width: 640px) {

  }

// TAILWIND: md
@media only screen and (min-width: 768px) {
}

// TAILWIND: lg
@media only screen and (min-width: 1024px) {

}

// TAILWIND: xl
@media only screen and (min-width: 1280px) {

}

// TAILWIND: 2xl
@media only screen and (min-width: 1536px) {

}