.main {
    background: rgb(224, 255, 177);
}

.body-style {
    background:rgb(224, 255, 177);
}

.navstyle {
    border: 3px solid rgb(221, 94, 94);
}

.logo {
    display: block;
    background: url("./logo.png");
    width: 200px
    box-shadow: 0 0 5px black;
}