.main {
    background: rgb(224, 255, 177);
    padding: 5px;
}

.body-style {
    background:rgb(224, 255, 177);
}

.navstyle {
    border: 3px solid rgb(221, 94, 94);
}

.logo {
    display: block;
    background: url("./logo.png");
    width: 200px;
    box-shadow: 0 0 5px black;
}


// TAILWIND: sm
@media only screen and (min-width: 640px) {

  }

// TAILWIND: md
@media only screen and (min-width: 768px) {

}

// TAILWIND: lg
@media only screen and (min-width: 1024px) {

}

// TAILWIND: xl
@media only screen and (min-width: 1280px) {

}

// TAILWIND: 2xl
@media only screen and (min-width: 1536px) {

}