.projects-wrapper {
    margin: 0 25px;
    display: grid;
    row-gap: 5px;
    column-gap: 10px;
    grid-template-columns: 1fr;
}



.entry {
    box-sizing: border-box;
    margin-top: 20px;
    list-style: none;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.1s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    
    #{&}-title {
        font-size: 1.1rem;
        border-bottom: 1px solid black;
    }
    #{&}-body {
        padding: 5px;
        display: flex;
        flex-direction: column;
    }
    #{&}-image {
        width: 100%;
        
    }
    #{&}-copy {
        padding: 5px;
        width: 100%;
    }
}

// .entry:hover {
//     transform: scale(1.01);
// }

// TAILWIND: sm
@media only screen and (min-width: 640px) {
    .projects-wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

// TAILWIND: md
@media only screen and (min-width: 768px) {
    .projects-wrapper {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

// TAILWIND: lg
@media only screen and (min-width: 1024px) {
    .projects-wrapper {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

// TAILWIND: xl
@media only screen and (min-width: 1280px) {
}

// TAILWIND: 2xl
@media only screen and (min-width: 1536px) {
}