.home {
    text-align: center;
    margin-top: -20px;
    
    #{&}-banner {
        position: relative;
    }

    #{&}-image {
        width: 100vw;
        max-width: 1200px;
    }

    #{&}-cta {
        bottom: 25px;
        left: 0;
        right: 0;  
        position: absolute;
    }

    #{&}-welcome {
        color: $text-grey;
        font-size: 1.25rem;
        font-weight: 300;
        padding: 25px 20px;
        border-bottom: 1px solid $border-grey;
    }
}
