.nfts {
  border: 2px solid red;
  &-title {
    text-align: center;
  }
  &-list {
    border: 2px solid greenyellow;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  &-item {
    margin: 5px;
    text-decoration: none;
    list-style: none;
    border: 2px solid purple;
  }
  &-image {
    width: 100%;
    height: auto;
  }
}

.nft {
  border: 1px solid blue;
  &-title {
    text-align: center;
  }
}

// TAILWIND: sm
@media only screen and (min-width: 640px) {
}

// TAILWIND: md
@media only screen and (min-width: 768px) {
}

// TAILWIND: lg
@media only screen and (min-width: 1024px) {
}

// TAILWIND: xl
@media only screen and (min-width: 1280px) {
}

// TAILWIND: 2xl
@media only screen and (min-width: 1536px) {
}