
.projects {
    background: white;
    border-bottom: 1px solid #c0c0c0;

    #{&}-header {
        color: $text-grey;
        width: 75%;
        margin: 20px auto 40px;
        font-size: 1.25rem;
        font-weight: 300;
    }
}