.project {
  padding: 20px;
  border-bottom: 1px solid $border-grey;
  color: $text-grey;
  font-size: 1.25rem;
  font-weight: 300;

  #{&}-title {
    text-align: left;
    font-size: 2rem;
    font-weight: 500;
    padding: 0 0 8px 0px;
  }

  #{&}-photo {
    width: 75%;
    border: 1px solid black;
  }

  #{&}-back {
    margin-top: 10px;
  }

  #{&}-back:hover {
    color: $hover-green;
  }
}
