{{ define "main" }}
<div class="projects">
    <div class="projects-header">
        {{ .Params.Heading }} <br>
        <div class="coding">
           Want to go back to<a class="coding-link" href="/projects"> Projects?</a>
        </div>
    </div>
</div>
<ul class="projects-wrapper">
    {{ range .Pages }}
    <li class="entry">
        <a class="entry-title" href="{{ .RelPermalink }}">{{ .Title }}</a>
        <div class="entry-body">
            <img class="entry-image" src="https://dummyimage.com/150x150/000/fff.jpg&text=150X150" alt="placeholder">
            <p class="entry-copy">project copy</p>
        </div>
    </li>
    {{ end }}
    </ul>
{{ .Content }}
{{ end }}