{{ define "main" }}
<div class="projects">
    <div class="projects-header">
        {{ .Params.Heading }} <br>
        <div class="coding">
            Looking specficially for <a class="coding-link" href="/coding-projects">Coding Projects?</a>
        </div>
    </div>
</div>
<ul class="projects-wrapper">
    {{ range .Pages }}
    <li class="entry">
        <img class="entry-image" src="https://dummyimage.com/150x100/000/fff.jpg&text=150X100" alt="placeholder">
        <div class="entry-body">
            <a class="entry-title" href="{{ .RelPermalink }}">{{ .Title }}</a>
            <hr>
            <p class="entry-copy">A brief description of the project</p>
        </div>
    </li>
    {{ end }}
    </ul>
{{ .Content }}
{{ end }}