{{ define "main" }}
<div class="projects">
    <div class="projects-header">
        {{ .Params.Heading }} <br>
        <div class="coding">
            {{ if eq .Title "Projects" }}
            <a class="coding-link" href="/coding-projects">Looking specficially for Coding Projects?</a>
            {{ else }}
            <a class="coding-link" href="/projects">Want to go back to Projects?</a>
            {{ end }}
        </div>
    </div>
</div>
<ul class="projects-wrapper">
    {{ range .Pages }}
    <li class="entry"><a href="{{ .RelPermalink }}">
        <img class="entry-image" src="{{ .Params.project_image }}" alt="placeholder">
        <div class="entry-body">
            <h2 class="entry-title">{{ .Title }}</h2>
            <p class="entry-copy">
             {{ .Params.project_description }}
            </p>
        </div>
    </a>
    </li>
    {{ end }}
    </ul>
{{ .Content }}
{{ end }}