* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }

  html, body {
      height: 100%;
  }
  
.wrapper {
  padding-bottom: 80px;
    min-height: calc(100% -75px);
}

  .main {
      padding: 5px;
  }

//   .content {
//       margin: 20px;
//   }
  