<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body class="body-style">
        {{- partial "header.html" . -}}</br>
        <!-- {{- partial "nav.html" . -}} -->
        <div id="content"> This is coming from the baseof.html in the theme/_default folder
        {{- block "main" . }}{{- end }}
        {{ printf "baseURL      : %s" .Site.BaseURL }}<br>
        {{ printf "Permalink    : %s" .Permalink }}<br>
        {{ printf "RelPermalink : %s" .RelPermalink }}<br>
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>
