* {
  padding: 0;
  margin: 0;
}

.main {
  padding: 5px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px;
}

.logo {
  display: block;
  background: url("./logo.png");
  width: 200px;
}

.hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6px;
  background: white;
  border: 1px #e2e2e2 solid;
}

.patty {
  display: block;
  width: 25px;
  height: 2px;
  background: #9b9b9b;
}

.link-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  gap: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.link {
  color: #7c7c7c;
  text-decoration: none;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}
