<header>
    <div class="header-bar">
        <a href="/"><img class="logo" width="200px" src="../../../../logo.png" alt={{ .Site.Title }}></a>
        <button class="hamburger">
            <div class="patty"></div>
            <div class="patty"></div>
            <div class="patty"></div>
        </button>
        <div class="desktop-menu">
            <a class="link" href="/projects">Projects</a>
            <a class="link" href="/contact">Contact</a>
        </div>
    </div>
    <div class="menu-toggle" id="menu-toggle">
        <div class="link-holder">
            <a class="link" href="/projects">Projects</a>
            <a class="link" href="/contact">Contact</a>
        </div>
    </div>
</header>