{{ $projects := (print .Site.BaseURL "projects/") }}
{{ $contacts := (print .Site.BaseURL "contacts/") }}
{{ $home := .Site.BaseURL }}

<header>
    <div class="header-bar">
        <!-- {{ printf "%#v" .Permalink }}
        {{ printf "%#v" $projects }} -->
        <a href="/"><img class="logo" width="200px" src="../../../../logo.png" alt={{ .Site.Title }}></a>
        <button class="hamburger">
            <div class="patty"></div>
            <div class="patty"></div>
            <div class="patty"></div>
        </button>
        <div class="desktop-menu">
            {{ if not (eq .Permalink $projects) }}<a class="link" href="/projects">Projects</a> {{ end }}
            {{ if not (eq .Permalink $contacts) }} <a class="link" href="/contact">Contact</a> {{ end }}
        </div>
    </div>
    <div class="menu-toggle" id="menu-toggle">
        <div class="link-holder">
            {{ if not (eq .Permalink $projects) }}<a class="link" href="/projects">Projects</a> {{ end }}
            {{ if not (eq .Permalink $contacts) }} <a class="link" href="/contact">Contact</a> {{ end }}
        </div>
    </div>
</header>