.main {
  background: #7dbe1c;
}

.body-style {
  background: #e0ffb1;
}

.navstyle {
  border: 3px solid #dd5e5e;
}

.logo {
  display: block;
  background: url("./logo.png");
  width: 200px;
  -webkit-box-shadow: 0 0 5px black;
          box-shadow: 0 0 5px black;
}
